# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Environments
env/
venv/
ENV/
.venv/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# PyInstaller
*.manifest
*.spec

# dotenv
.env
